.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.small-badge {
  width: 8px;
  height: 8px;
  background-color: tomato;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 40px;
}
