.icon-row {
  margin-bottom: 20px;
  border-bottom: var(--main-border);
  padding-bottom: 20px;
}

.icon-row__icon i {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.icon-row__icon span {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.icon-row__column {
  display: flex;
  justify-content: space-around;
}

.icon-row__column:first-child {
  margin-bottom: 10px;
}

.icon-row__icon i:hover {
  animation: shaking 1s infinite, color-change 2s infinite;
}
